[core]
	editor = \"C:\\Users\\vandy\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = Dave
	email = vandyneperformance@gmail.com
[filesystem "Eclipse Adoptium|11.0.27|203058770"]
	timestampResolution = 998 microseconds
	minRacyThreshold = 0 nanoseconds
